.Container {
    /* background-color: rebeccapurple; */
    width: 90vw;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
}

.List {
    /* background-color: yellow; */
    padding-inline-start: 4px;
    list-style: none;
}

.Button {
    background-color: transparent;
    border-style: none;
    position: absolute;
    display: block;
    margin-top: -20%;
    margin-left: 2%;
    font-size: 20px;
}