.Container {
    /* background-color: rebeccapurple; */
    width: 90vw;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
}

.List {
    /* background-color: yellow; */
    padding-inline-start: 4px;
    list-style: none;
    font-size: 14px;
}

.Image {
    width: 160px;
    height: auto;
}

.Button {
    background-color: transparent;
    border-style: none;
    position: absolute;
    display: block;
    margin-top: -24%;
    margin-left: 2%;
    font-size: 20px;
}

.FavListButton {
    height: 44px;
    width: 160px;
    margin-top: 12px;
    background-color: #333333;
    color: #eeeeee;
    font-weight: 600;
    border: none;
}

@media only screen and (min-width: 768px) {
    .Container {
        /* background-color: red; */
        margin-top: -80px;
        grid-template-columns: 33% 33% 33%;
    }
    .Button {
        margin-top: -10%;
    }
    .Image {
        width: 28vw;
        height: auto;
    }
    .List {
        /* background-color: green; */
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
    .Product {
        padding-inline-start: 50px;
    }
}