.Button {
    background-color: transparent;
    border-style: none;
    position: absolute;
    display: block;
    margin-top: -30%;
    margin-left: 2%;
    font-size: 20px;
}

.Text {
    padding: 0;
    margin: 0;
    color: #fc5359;
}

.Container {
    /* background-color: red; */
    position: relative;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.ProductContainer {
    /* background-color: yellow; */
    margin-top: 8px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.Product {
    /* background-color: yellow; */
    list-style: none;
    text-decoration: none;
    padding-inline-start: 4px;
}

.List {
    color: black;
    font-weight: 400;
    font-size: 14px;
    /* background-color: green; */
    margin-top: 8px;
}

.Image {
    width: 160px;
    height: auto;
}

.Link {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .ProductContainer {
        margin-top: 24px;
        grid-template-columns: 33% 33% 33%;
    }
    .Button {
        margin-top: -14%;
    }
    .Image {
        width: 28vw;
        height: auto;
    }
    .List {
        font-size: 16px;
    }
    .Product {
        padding-inline-start: 20px;
    }
}