.Container {
    /* background-color: red; */
    width: 90vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.LabelContainer {
    /* background-color: red; */
    margin-bottom: 4px;
}

.Input {
    width: 88vw;
    height: 40px;
    margin-bottom: 12px;
    border-style: solid 1px black;
}

.Button {
    margin-top: 12px;
    width: 90vw;
    height: 48px;
    border: none;
    background-color: #fc5359;
    color: #1a1918;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .Container {
        width: 40vw;
    }
    .Input {
        width: 40vw;
    }
    .Button {
        width: 41vw;
    }
    .ErrorMessage {
        width: 38vw;
    }
    .Link {
        margin-right: 440px;
    }
}