.Modal {
    background-color: transparent;
    height: 100vh;
    overflow-y: scroll;
}

.Header {
    font-weight: 600;
}

.Title {
    text-align: center;
    padding-top: 60px;
}

.Button {
    background-color: transparent;
    border: none;
    position: relative;
    right: -90%;
    font-size: 24px;
    color: rgb(196, 196, 196);
    top: -20px;
}

.ApplyButton {
    width: 80vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 44px;
    justify-content: center;
    padding-top: 12px;
    border: none;
    background-color: #fc5359;
    color: #1a1918;
    font-weight: 600;
}

.List {
    list-style: none;
    margin-bottom: 40px;
}

.ListItem {
    /* background-color: red; */
    margin: 12px auto;
}

.Label {
    padding-left: 12px;
}

.FilterIcon {
    position: relative;
    /* margin-right: 10vw; */
    margin-left: 50vw;
    padding-right: 8px;
}

@media only screen and (min-width: 768px) {
    .FilterIcon {
        /* position: relative; */
        /* margin-right: 10vw; */
        margin-left: 72vw;
        padding-right: 8px;
    }
    .ApplyButton {
        width: 90vw;
    }
    .Title {
        padding-top: 60px;
    }
}